<form class="squircle squircle-shadow add-form" *ngIf="showAddTask">
  <div class="form-control">
    <label for="text">Task:</label>
    <input type="text" [(ngModel)]="text"   name="text" id="text" placeholder="Add Task Text" />
  </div>
  <div class="form-control">
    <label for="day">Day & Time:</label>
    <input type="datetime-local" [(ngModel)]="day"  name="day" id="day" />
  </div>
  <div class="form-control">
    <label for="reminder">Reminder:</label>
    <input type="checkbox" [(ngModel)]="reminder" name="reminder" id="reminder" />
  </div>
  <input type="submit" (click)="onSubmit()" value="Save Task" class="squircle btn btn-block" />
</form>
